<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="canonical" href="https://tabla-de-posiciones.fly.dev/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="futbol, futbol argentino, deportes, posiciones futbol argentino">
    <link rel="publisher" href="https://portafolio-nico-medina.netlify.app/">
    <meta name="author" content="Medina Esteban Nicolas">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Consulta las posiciones actualizadas del fútbol argentino y sigue el rendimiento de los equipos en la liga profesional de Argentina">
    <title>Tabla de Posiciónes del Futbol Argentino</title>
</head>
<body>
    {{{body}}}
</body>
</html>